[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git@github.com:Maxlufs/vim-latex.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/bundle/ctrlp-py-matcher
	url = git@github.com:FelikZ/ctrlp-py-matcher.git
